
<h2>Le binding</h2>

<h3>One-Way Binding</h3>

<p>Bonjour {{ nomUser }}</p>
<p>Bonjour {{ "Luc "+"Dubois"  }}</p>
<p>Bonjour {{ nomUser + " Kimtsaris" }} </p>

<h3>One-Way Binding d'attribut</h3>

<p [class]="color" (mouseenter)="swapColor()">Le texte est en {{ color }}</p>

<h3>Two-Way Binding</h3>

<p><span class="red">ATTENTION :</span>  IMPORT FormsModule</p>
<select [(ngModel)]="color">
    <option value="red">red</option>
    <option value="blue">blue</option>
</select>

<h3>Binding d'événement</h3>

<button (click)="onClick($event)">click me</button>