
<h3>Menu</h3>
<button (click)="toggleAdding()">{{ adding ? 'annuler' : 'ajouter un plat' }}</button>
<div class="menu-display">

    <div *ngIf="adding; else menuContainer;">
        <app-plat-form (plat-sent)="onPlatSent($event)"></app-plat-form>
    </div>

    <ng-template #menuContainer>
        <div class="menu-container">
            <div *ngFor="let plat of menu">
                <app-menu-item [plat]="plat" (add-to-panier)="onAdd($event)"></app-menu-item>
            </div>
        </div>

        <div>
            <app-panier></app-panier>
            <app-panier></app-panier>   
        </div>
    </ng-template>
    
</div>
