<div class="nav-rack">
    <div class="nav-link">
        <a routerLink="./binding">binding</a>
    </div>
    <div class="nav-link">
        <a routerLink="./pipe">pipes</a>
    </div>
    <div class="nav-link">
        <a routerLink="./directive">directive</a>
    </div>
    <div class="nav-link">
        <a routerLink="./commu">communication</a>
    </div>    
    <div class="nav-link">
        <a routerLink="./forms">formulaire</a>
    </div>    
    <div class="nav-link">
        <a routerLink="./produits">produits</a>
    </div>    
    <div class="nav-link">
        <a routerLink="./obs">observables</a>
    </div>    
    <div class="nav-link" *ngIf="isConnected()">
        <a routerLink="./color">couleur</a>
    </div>    
</div>