.produit-container {
    display: flex;
    padding: 10px 30px 0 30px;
}

.produit-container > div {
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
    border: 2px solid black;
}

#produit-form-container {
    width: 25%;
}

#produit-list-container {
    width: 75%;
}

