<h4>Formulaire d'insertion de produits</h4>

<form [formGroup]="produitInsertForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="produit-marque">Marque</label><br>
        <input type="text" id="produit-marque" formControlName="marque">
        <p *ngIf="produitInsertForm.controls['marque'].errors?.['required']" style="color: red;">
            requis
        </p>
    </div>
    <div>
        <label for="produit-modele">Modele</label><br>
        <input type="text" id="produit-modele" formControlName="modele">
    </div>
    <div>
        <label for="produit-prix">Prix</label><br>
        <input type="number" id="produit-prix" formControlName="prix">
    </div>

    <div>
        <label for="produit-stock">Stock</label><br>
        <input type="number" id="produit-stock" formControlName="stock">
        <p *ngIf="produitInsertForm.controls['stock'].errors?.['pair']" style="color: red;">
            {{ produitInsertForm.controls['stock'].errors?.['pair'].message }}
        </p>
    </div>

    <div>
        <input type="checkbox" id="produit-envente"  formControlName="en_vente">
        <label for="produit-envente"> en vente </label>
    </div>

    <button type="submit">insérer</button>

    <p *ngIf="produitInsertForm.errors?.['priceDoubleStock']" style="color: red;">
        {{ produitInsertForm.errors?.['priceDoubleStock'].message }}
    </p>

</form>