<div class="nav-rack">
    <div class="nav-link">
        <a routerLink="./binding">binding</a>
    </div>
    <div class="nav-link">
        <a routerLink="./chrono">chrono</a>
    </div>
    <div class="nav-link">
        <a routerLink="./products">produits</a>
    </div>
    <div class="nav-link">
        <a routerLink="./commu">commu</a>
    </div>
    <div class="nav-link">
        <a routerLink="./custom-dir">custom dir</a>
    </div>
    <div class="nav-link">
        <a routerLink="./forms">forms</a>
    </div>
    <div class="nav-link">
        <a routerLink="./tache">taches</a>
    </div>
    <div class="nav-link">
        <a routerLink="./menu">menu</a>
    </div>
    <div class="nav-link">
        <a routerLink="./panier">panier</a>
    </div>
    <div class="nav-link">
        <a routerLink="./objectif">objectif</a>
    </div>
    <div class="nav-link">
        <a routerLink="./parite">parite</a>
    </div>
    
</div>
