<h1>Bonjour</h1>

<form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="connect-user">username</label><br>
        <input type="text" id="connect-user" formControlName="username">
    </div>

    <div>
        <label for="connect-pass">password</label><br>
        <input type="text" id="connect-pass" formControlName="password">
    </div>

    <button type="submit">envoyer</button>

</form>


<div>
    <h4>CHANGER COULEUR</h4>
    <button (click)="onSwap()">changer</button>
</div>

<div>
    <h4>CHOISIR COULEUR</h4>
    <input type="color" [(ngModel)]="color" (change)="onChooseColor()">
</div>